/* ==================================================================================== *\
	Digunakan untuk halaman utama sementara
\* ==================================================================================== */
// Desain sementara untuk posisi logo
#bumper {
	width: 500px;
	margin: auto;
	text-align: center;
}

.btn-info {
	background-color: #444;
	border-color: #222;
	color: #efefef;

	&:hover {
		color: #fff;
		background-color: #333;
		border-color: #111;
	}
}