.item-list {

	.item {
		margin: 10px 0;
		padding: 10px;

		&:hover {
			background-color: #f7f8f9;
		}

		.item-image {
			float: left;
		}

		.item-desc {
			float: left;
			margin-left: 10px;
			white-space: nowrap;
			overflow: hidden;

			.item-desc-header {

				h4 {
					font-size: 16px;
					margin-top: 0;
					margin-bottom: 5px;
				}

				p {
					line-height: 1em;
					margin:0;
					color: #999;
				}
			}

			.item-desc-body {

			}

			p {
				margin: 0;
			}

			.date-created {
				font-size: 10px;
				color: #999;
				margin:0;
			}
		}
	}
}

@media (max-width: 1200px) {
	.item-desc {
		width: 320px;
	}
}

@media (max-width: 991px) {
	.item-desc {
		width: 550px;
	}
}

@media (max-width: 729px) {
	.item-desc {
		width: 300px;
	}
}

@media (max-width: 479px) {
	.item-desc {
		width: 200px;
	}

	.item-image {
		width: 50px;
	}

	.item-desc-intro {
		display: none;
	}
}