.btn {
	border-radius: 2px;
}

.btn-primary {
	background-color: #428bca;
	border: none;
	border-bottom: 3px solid #2569A5;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.6);
	transition: border-bottom 0.2s, box-shadow 0.2s;
	-webkit-transition: border-bottom 0.2s, box-shadow 0.2s;

	&:hover {
		background-color: #428bca;
		border-bottom: 1px solid #2569A5;
		box-shadow: 1px 1px 1px rgba(0,0,0,0.6);
		transition: border-bottom 0.2s, box-shadow 0.2s;
		-webkit-transition: border-bottom 0.2s, box-shadow 0.2s;
	}
}