.btn {
	border-radius: 2px;
}

.btn-sm {
	padding: 5px 10px 2px 10px;
}

.btn-primary {
	background-color: #6D9BC2;
	border: none;
	border-bottom: 3px solid transparent;
	transition: border-bottom 0.2s;
	-webkit-transition: border-bottom 0.2s;

	&:hover {
		background-color: #6D9BC2;
		border-bottom: 3px solid #3071AA;
		transition: border-bottom 0.2s;
		-webkit-transition: border-bottom 0.2s;
	}
}

.btn-default {
	background-color: #444;
	color: #dedede;
	border: none;
	border-bottom: 3px solid transparent;
	transition: border-bottom 0.2s;
	-webkit-transition: border-bottom 0.2s;

	&:hover {
		background-color: #444;
		color: #dedede;
		border-bottom: 3px solid #000;
		transition: border-bottom 0.2s;
		-webkit-transition: border-bottom 0.2s;
	}
}

.btn-warning {
	background-color: #f0ad4e;
	border: none;
	padding-top: 10px;
	border-bottom: 3px solid transparent;
	transition: border-bottom 0.2s;
	-webkit-transition: border-bottom 0.2s;

	&:hover {
		background-color: #f0ad4e;
		border-bottom: 3px solid #C58428;
		transition: border-bottom 0.2s;
		-webkit-transition: border-bottom 0.2s;
	}
}

.btn-login-sosmed {
	opacity: 0.7;
	transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;

	&:hover {
		opacity: 1;
		transition: opacity 0.2s;
		-webkit-transition: opacity 0.2s;
	}
}