/* ==================================================================================== *\
	Digunakan untuk mendeklarasikan helper class dan fungsi umum
\* ==================================================================================== */
body {
	background-color: #f7f8f9;
	color: $baseColor;
	line-height: 1.8;
}

ul, ol, li {
	list-style-type: none;
	margin:0;
	padding:0;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: $baseFont;
}

a {

	&:hover {
		text-decoration: none;
	}
}

.box-white {
	background-color: white;
}

.box-blue {
	background-color: #6D9BC2;
}