/* ==================================================================================== *\
	Digunakan untuk mendeklarasikan helper class dan fungsi umum
\* ==================================================================================== */

// Desain sementara untuk posisi logo
#bumper {
	width: 500px;
	margin: auto;
	text-align: center;
}

body {
	background-color: #f7f8f9;
	background: url('../img/layout/bg-temp.png');
	color: $baseColor;
	line-height: 1.8;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: $baseFont;
}

a {

	&:hover {
		text-decoration: none;
	}
}

footer {
	text-align: center;
}