/* ==================================================================================== *\
	Digunakan untuk mendeklarasikan helper class dan fungsi umum
\* ==================================================================================== */

// Desain sementara untuk posisi logo
#logo {
	width: 500px;
	height: 249px;
	position:absolute;
	top: 30%;
	left: 50%;
	margin-left: -250px;
	margin-top: -145px;
	text-align: center;
}

body {
	background-color: #f7f8f9;
	background: url('../img/layout/bg-temp.png');
	color: $baseColor;
	line-height: 1.8;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: $baseFont;
}

a {

	&:hover {
		text-decoration: none;
	}
}