/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.local.php
.env.php
.DS_Store
Thumbs.db
.sass-cache/
.sass-cache/**
/.sass-cache/**/*.*
/.sass-cache/**/*.scssc
app/config/local
.idea/
node_modules/
public/upload/